name: Build

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: boolean

      
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.2.0'
      
      

      - name: Install dependencies
        run: |
          npm install
      
      - name: Build
        run: |
          cp wrangler.toml.template wrangler.toml
          npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: worker.js-${{ github.sha }}
          path: worker.js
          retention-days: 1